*{
    margin: 0;
    padding: 0;
    background-color: lemonchiffon;
}
.Main-Header{
    height: 120px;
    width: 100%;
    background-color: crimson;
}
.Img_1{
    float: left;
    height: 120px;
    width: 10%;
}
.Main_heading{
    float: left;
    
}
.About_this_page{
    background-color: crimson;
    text-align: center;
    font-family: fantasy;
    font-style: oblique;
}
.context{
    height: 844px;
    width: 100%;
}
.Hero_main_line{
    height: 44px;
    width: 100%;
    background-color: brown;
    float: left;
}
.Main_context_left{
    background-color: navajowhite;
    height: 800px;
    width: 30%;
    float: left;
}
.Main_context_right{
    background-color: rgb(254, 136, 86);
    height: 800px;
    width: 70%;
    float: right;
}
.First_Row{
    height:240px;
    width: 30%;
    float: left;
    background-color: rgb(246, 47, 93);
}
.sec_row{
    height: 240px;
    width: 36%;
    float: left;
    background-color: rgb(70, 215, 225);
}
.last_row{
    height: 240px;
    width: 34%;
    float: left;
    background-color: rgb(231, 65, 209);
}
.Main_Footer{
    height: 240px;
    width: 100%;
}