*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.header-main{
    height: 100px;
    width: 100%;
    background-color:bisque;
    display: flex;
    justify-content: center;
}
.div-main-header{
   width: 10%;
    height: 100px;
    position: absolute;
    top:0;
    left: 0;
}
.nav-main{
  display: flex;
  align-items: center;
  gap: 40px;
}
.div-main-upper{
    height: 580px;
    width: 100%;
    background-color: black;
}
.left-logo{
    width: 10%;
    height: 100px;
    position: absolute;
    top:0;
    right: 0;
}
.main-2nd-hero{
    display: flex;
}
.Text-Main{
    color: crimson;
    width: 100%;
    font-family: fantasy;
    font-style: oblique;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Main-Footer{
    height: 180px;
    width: 100%;
    display: flex;

}
#one{
    height: 180px;
    width: 31%;
    background-color: blue;
    float: left;
}
#sec{
    height: 180px;
    width: 36%;
    background-color: black;
    float: left;
}
#trd{
    float: left;
    height: 180px;
    width: 33%;
    background-color: red;
}